.jegy{
    border: 15px solid orange;
    width: 930px;
    height: 330px;
}

.jegyadatok{
    width: 597px;
    height: 300px;
    padding: 15px;
    background-color: rgb(230, 229, 219);
    float: left;
    border-right: 3px dashed black;
}

.qrcode{
    text-align: center;
    line-height: 300px;
    padding: 15px;
    width: 300px;
    height: 300px;
    float: right;
   

}