
.thumbnail{
    float:right;
}


header{
    background-color: black;
    color: white;
    line-height: 200px;
    min-height: 200px;
    font-size: 300%;
    margin: 0;
    padding: 0;
}

aside{
    background-color: silver;
    padding-top: 25px;
    flex-grow: 1;
    z-index: 0;
}

.blog-main{
    padding-top: 25px;
    box-shadow: 0 0 20px gray;
    z-index: 1;
}

footer{
    background-color: darkslategray;
    color: white;
    min-height: 60px;
    line-height: 60px;
    letter-spacing: 3px;
    text-shadow: 0 0 3px black;
}
table{
    border-collapse: separate;
}
.seat{
    padding: 20px;
    border: 2px solid black;
    background-color: rgb(120, 192, 126);
    box-shadow: inset 0 0 10px rgb(67, 100, 72);
    cursor: pointer;
}

.reserved{
    background-color: rgb(255, 113, 113);
    box-shadow: inset 0 0 10px rgb(107, 49, 49);
}

.selected{
    background-color: rgb(255, 163, 77);
    box-shadow: inset 0 0 10px rgb(163, 65, 0);
}

